* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Micro 5", sans-serif;
}

/*menu*/
.startScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: gray;
}

.startBtn {
  padding: 7.5px 20px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
}

.startBtn:hover{
  background-color: black;
  color: white;
}

.howToPlay {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.howToPlay h2 {
  font-size: 70px;
  margin-bottom: 10px;
}

/*game*/
.gamePage {
  overflow: hidden;
  background: gray;
}

#player {
  position: absolute;
  width: 150px;
  transform: translate(-25%, -25%);
}

.enemy {
  position: absolute;
  width: 100px;
}

.projectile, .enemyShot {
  position: absolute;
  width: 75px;
}

.xpOrb {
  position: absolute;
  width: 75px;
}

#ui {
  position: fixed;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 10;
  font-size: 40px;
}

#hearts img {
  width: 75px;
}

.hidden {
  display: none;
}

#levelUp, #endScreen {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none; /*prevents showing at start*/
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#levelUp.show, #endScreen.show {
  display: flex;
}

.btn{
  font-size: 40px;
}

.box {
  background: white;
  padding: 10px 20px;
  border: 1px solid black;
  text-align: center;
  font-size: 60px;
}
